/*-- scss:defaults --*/

// typeface
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// colours
$white: #fff;
$black: #000;
$color1: #F0F0F0;
$color2: #d89018;
$color3: #00b0de;

$body-bg: $color1;
$body-color: $black;
$navbar-fg: $black;
$navbar-bg: $color1;
$link-color: $color3;

$font-family-sans-serif: "Atkinson Hyperlegible Mono", sans-serif;

/*-- scss:rules --*/

h1,
h2,
h3,
h4 {
  color: $color2
}

.callout {
  border-left-color: $color2 !important;
}

.btn {
  border: 2pt solid $color2;
}
